@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

ul {
  list-style: none;
  padding-left: 0;
}

body {
  background-color: #F9F9F9;
}

a {
  color: #A52771;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-main {
  margin: 40px auto;
  width: calc(100% - 40px);
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14px;
  color: #1F1F1F;
  text-align: center;
}

@media (min-width: 768px) {
  .page-main {
    margin: 80px auto;
    width: calc(100% - 300px);
    max-width: 1140px;
    text-align: left;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .about {
    display: flex;
    justify-content: space-between;
    width: 969px;
    margin: 0 auto;
  }
}

.about__photo {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 30%;
}

@media (min-width: 768px) {
  .about__photo {
    margin: 0;
    width: 250px;
    height: 250px;
    border-radius: 30%;
  }
}

@media (min-width: 768px) {
  .about__wrapper {
    width: 584px;
  }
}

.about__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .about__title {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
  }
}

.about__text {
  margin: 16px auto 0;
  font-size: 16px;
}

@media (min-width: 768px) {
  .about__text {
    margin-top: 22px;
    font-size: 25px;
    line-height: 30px;
  }
}

.skills,
.more,
.works {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .skills, .more {
    width: 946px;
    margin: 100px 0 0 86px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .list {
    padding-top: 6px;
  }
}

.item {
  position: relative;
  margin-top: 5px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

@media (min-width: 768px) {
  .item {
    margin-top: 0;
    font-size: 20px;
    line-height: 35px;
    padding-left: 25px;
  }
}

.item::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 6px;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url("img/sparkles.png");
  background-size: contain;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .item::before {
    top: 11px;
    width: 15px;
    height: 15px;
  }
}

  @media (min-width: 768px) {
    .works {
      margin-top: 116px;
      margin-left: 65px;
      width: 986px;
    }
  }

  @media (min-width: 768px) {
    .works__title {
      margin-left: 21px;
    }
  }

  .swiper-container {
    width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    .swiper-container {
      overflow: visible;
      width: 986px;
    }
  }

  @media (min-width: 768px) {
    .swiper-wrapper {
      margin-top: 0;
      width: 986px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media (min-width: 768px) {
    .swiper-slide {
      width: 463px;
      margin-top: 60px;
    }
  }

  @media (min-width: 768px) {
    .swiper-slide:nth-child(-1n+2) {
      margin-top: 40px;
    }
  }

  .works__img {
    width: 57vw;
    min-width: 333px;
    max-width: 463px;
  }
  
  @media (max-width: 375px) {
    .works__img {
      width: 80vw;
      min-width: 70%;
    }
  }

  @media (min-width: 768px) {
    .works__img {
      box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.25);
      opacity: 0.6;
    }

    .works__img:hover {
      opacity: 1;
    }
  }

  .works__description {
    margin: 15px auto 15px;
    width: calc(100% - 50px);
    font-size: 14px;
    line-height: 15px;
  }

  @media (min-width: 768px) {
    .works__description {
      margin: 20px auto 0;
      width: 300px;
      text-align: center;
    }
  }